{% extends 'base.html' %}
{% block content %}
<h2>Weddings</h2>
<div>
    {% for img in images %}
        <div style="display: inline-block; margin: 10px;">
            <img src="{{ url_for('static', filename='uploads/weddings/' + img) }}" style="max-width: 200px;"><br>
            <p>{{ descriptions.get(img, '') }}</p>

            {% if session.get("logged_in") %}
                <form method="post" action="{{ url_for('delete_file', category='weddings', filename=img) }}" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
                <a href="{{ url_for('edit_description', category='weddings', filename=img) }}">Edit</a>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}
